/* Media
==================================*/
@media (max-width: 991px) {
    /* Intro */
    .nav {
        display: none;
    }

    .intro {
        
    }

    .burger {
        display: block;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Features */
    .features__item {
        width: 50%;
    }

}

@media (max-width: 767px) {
    /* Intro */
    .intro {
        padding-top: 130px;
        padding-bottom: 30px;
        height: auto;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
    }

    /* Features */
    .features__item {
        width: 100%;
    }

}

@media (max-width: 760px) {
    /* Features */
    .features__item {
        width: 100%;
    }

}